* {
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 600px) {
    #navbarNav{
        margin-left:10%;
    }
    #bagan1{
        height: 100vh; 
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: 100% 100%;
    }
    #bagan1 > div:first-child {
        position: relative; 
        top: 25%;
    }
    #bagan1 div:nth-child(2) {
        position: relative; 
        top: 50%;
    }
    #bagan2, #bagan3, #bagan5, #bagan6{
        min-height: 100vh !important;
    }
    #bagan2 .first p{
        top:15vh !important;
        left:30% !important;
        font-size: 1.5vw;
    }
    #bagan2 .first h3{
        top:20vh !important;
        left:40% !important;
        font-size: 40px;
    }
    #bagan2 .two #carouselExampleIndicators{
        top:20vh;
    }
    #bagan3>div{
        position: relative;
    }
    #bagan3 .f{
        position: absolute;
        left:55%;
        top:20vh;
    }
    #bagan3 .e{
        position: absolute;
        left:60%;
        top:35vh;
    }
    #bagan3 .e1::before {
        content:"\A";
        width:10px;
        height:10px;
        border-radius:50%;
        background: white;
        display:inline-block;
        margin-right: 20px;
    }
    #bagan3 .e2::before, #bagan3 .e3::before {
        content:"\A";
        width:10px;
        height:10px;
        border-radius:50%;
        border: white solid 2px;
        background: black;
        display:inline-block;
        margin-right: 20px;
    }
    #bagan3 .e4{
        margin-left: 30px;
    }
    #bagan3 .e1,#bagan3 .e2,#bagan3 .e3{
        color: orange;
        /* padding/: 20px; */
    }
    #bagan3 div .f1{
        font-size: 1.5vw !important;
        margin: 0;
    }
    #bagan3 div .f2{
        font-size: 3vw !important;
    }
    #bagan4, #bagan5{
        min-height: 100vh !important;
    }
    #bagan6 button{
        font-size: 3.0vh !important;
    }
    footer {
        font-size: 2.5vh;
        width: 100%;
        margin: 0;
    }
    #footnote {
        font-size: 2.5vh;
        width: 100%;
        margin: 0;
    }
}
   
nav{
    background-color:rgba(46, 45, 43, 0.59);
    
}
nav .nav-link, nav .navbar-brand{
    color:white;
}
@media only screen and (max-width: 540px) {
    #nav1{
        display: none;
    }
    #main{
        position: relative; 
        top: 50%;
    }
    #bagan1 {
        min-height: 60vh;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: 100% 100%;
    }
    #bagan1 h1{
        font-size: 3vw;
    }
    #bagan1 P{
        font-size: 3vw;
    }
    #bagan2{
        min-height: 100vh;
        max-height: 150px !important;
        
    }
    #bagan2 .first h3{
        font-size: 5vw;
        
    }
    #bagan2 .first p, #bagan2 .first h3{
        font-size: 3vw;
        position: relative;
        bottom: 100%;
    }
    #bagan3{
        color: yellow;
        text-align: end;
    }
    #bagan6{
        font-size: 3.0vw;
    }
    #bagan6 button{
        font-size: 1.2vh;
    }
}

#bagan1{
    background-image: url('assets/main-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    
}

#bagan2{
    background-image: url('assets/the-games-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    min-height: 350px;
   
}
#bagan2 .col div{
    position:relative;
}
#bagan2 .first p{
    top:10vh;
    position: absolute;
}
#bagan2 .first h3{
    top:13.5vh;
    left:6%;
    position: absolute;
}
#bagan2 .two #carouselExampleIndicators{
    /* top:20vh; */
    position: absolute;
}
input{
    color:rgb(228, 146, 22);
}
#bagan3{
    background-image: url('assets/features.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    min-height: 350px;
}
#bagan4{
    background-image: url('assets/requirements.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    min-height: 350px;
}
#bagan5{
    background-image: url('assets/the-games-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    min-height: 350px;
}
#bagan6{
    background-color: rgb(26, 25, 25);
}
.navigation{
    height: 20vh;
}
#navbarBot a, #navbarBot img {
    margin: 12px;
    text-decoration: none;
    color: azure;
}
#footnote{
    background-image: url(assets/newsletter.png);
}
.col-lg-6{
    text-align: right !important;
}

.col-lg-4{
    text-align: left;
}

.d-inline a{
    margin: 0%;
    width: 100%;
    text-decoration: none;
    color: azure;
}
.d-inline p {
    margin: 0%;
    width: 100%;
    text-decoration: none;
    color: gray;
}